<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">This is de CORE INDEX</div>
    <div class="panel-body">

        <div class="top-buffer"></div>
    </div>
</div>